<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.gr.java_conf.bunooboi.englishtower"
          android:versionCode="4"
          android:versionName="1.1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Start"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Setting"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Practice"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Practice_End"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Practice_Setting"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Dictionary_List"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Dictionary_Overview"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Help"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Tower"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Over"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Clear"
            android:launchMode="singleTask"/>
    </application>

</manifest>