@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-size: 100%;
	font-family: sans-serif;
}

#logo {
	display: none;
}

#head h1 {
	width: 100%;
	padding: 0;
	padding-top: 50px;
	text-align: center;
}

#head h2 {
	width: 100%;
	padding: 0;
	padding-top: 20px;
	text-align: center;
	font-size: 80%;
}

#title {
	width: 100%;
}

ul#menu {
	height: 400px;
}

ul#menu li {
	width: 100%;
	font-size: 150%;
}

ul#menu li a {
	box-shadow: 0 0 0 2px #ffffff inset;
}

#index {
	height: 300px;
}

#index img {
	width: 100%;
	height: 100%;
}

#description {
	width: 100%;
	height: 600px;
}

#description_img {
	text-align: center;
}

#description img {
	height: 200px;
	margin: 10px 0;
	float: none;
}

#description_info {
	height: 350px;
	margin: 10px;
	padding-top: 10px;
	text-align: center;
}

#description_info h2 {
	margin-bottom: 20px;
	text-align: center;
}

#description_info p {
	text-align: left;
}

#detail {
	height: 1200px;
	margin: 10px;
	border: 1px solid #bf7c12;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/board.jpg");
}

#detail_1 {
	width: 40%;
	height: 200px;
	margin: 140px auto 20px auto;
	border: 1px solid #000000;
	float: none;
}

#detail_2 {
	width: 40%;
	height: 200px;
	margin: 20px auto;
	border: 1px solid #000000;
	float: none;
}

#detail_3 {
	width: 40%;
	height: 200px;
	margin: 20px auto;
	border: 1px solid #000000;
	float: none;
}

#detail_4 {
	width: 40%;
	height: 200px;
	margin: 20px auto;
	border: 1px solid #000000;
	float: none;
}

.access {
	height: 300px;
	margin: 5px;
	border: 1px solid #000000;
}

.access img {
	width: 35%;
	height: 70%;
	margin: 30px 10px;
	padding: 10px;
	float: left;
}

.access_info {
	margin: 40px 5px;
}

.access_info h2 {
	font-weight: bold;
	font-size: 100%;
}

.access_info h3 {
	font-size: 100%;
	margin-top: 10px;
}

.access_info p {
	font-size: 100%;
	margin-top: 5px;
}

.access_info a {
	font-size: 100%;
}

#links {
	height: 500px;
	margin: 20px;
}

#link_1 {
	width: 60%;
	height: 90px;
	margin: 20px auto;
	padding: 10px;
	float: none;
}

#link_2 {
	width: 60%;
	height: 90px;
	margin: 20px auto;
	padding: 10px;
	float: none;
}

#link_3 {
	width: 60%;
	height: 90px;
	margin: 20px auto;
	padding: 10px;
	float: none;
}

#link_4 {
	width: 60%;
	height: 90px;
	margin: 20px auto;
	padding: 10px;
	float: none;
}