<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.java_conf.bunooboi.mydic">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Start"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".ListLinkConfig"
            android:launchMode="singleTask" />
        <activity
            android:name=".ListLinkSentence"
            android:launchMode="singleTask" />
        <activity
            android:name=".Setting"
            android:launchMode="singleTask" />
        <activity
            android:name=".ListEditConfig"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ListEditSentence"
            android:launchMode="singleTask" />
        <activity
            android:name=".Sort"
            android:launchMode="singleTask" />
        <activity
            android:name=".Edit"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameStart"
            android:launchMode="singleTask" />
        <activity
            android:name=".GameSelectDic"
            android:launchMode="singleTask" />
        <activity
            android:name=".Game.GameFall"
            android:launchMode="singleTask" />
        <activity
            android:name=".Game.GameSelect"
            android:launchMode="singleTask" />
        <activity
            android:name=".GameMain"
            android:launchMode="singleTask" />
        <activity
            android:name=".GameFin"
            android:launchMode="singleTask" />

        <service android:name="BackService" />
    </application>

</manifest>