@charset "utf-8";

table.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

table.table tr {
	width: 100%;
	height: 100px;
	text-align: center;
	border-bottom: dotted #666666 1px;
}

table.table td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	width: 20%;
	height: 100px;
	max-width: 100%;
	border-bottom: dotted #666666 1px;
}
table.table td button {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-color: #ffffff;
	border-bottom: dotted #666666 1px;
	padding: 2px;
	font-size: 17px;
}
table.table td button:not([disabled]):hover {
	background-color: #dcdcdc;
}
