<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980978823504-g3eq7p1564l4882glo6v9mm9iq7bmh3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980978823504-g3eq7p1564l4882glo6v9mm9iq7bmh3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDpiuCZabUJf2SvTW5JRqcjGcl1GcF5KxM</string>
	<key>GCM_SENDER_ID</key>
	<string>980978823504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSample</string>
	<key>PROJECT_ID</key>
	<string>myapp-d0d81</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-d0d81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980978823504:ios:e6dc8afbca7b41d073fc55</string>
</dict>
</plist>