<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026821938821-krk3eiiquci8kfcpk5q2q27kbakuo8qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026821938821-krk3eiiquci8kfcpk5q2q27kbakuo8qp</string>
	<key>API_KEY</key>
	<string>AIzaSyABGX9sd5-RePHhAL_ZxkSESIus8kpvgP0</string>
	<key>GCM_SENDER_ID</key>
	<string>1026821938821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bunooboi.mydic</string>
	<key>PROJECT_ID</key>
	<string>mydic-9ba25</string>
	<key>STORAGE_BUCKET</key>
	<string>mydic-9ba25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026821938821:ios:c1c2789b72da7884bb13ec</string>
</dict>
</plist>