<!DOCTYPE html>
<html>
	<head>
		<title>わらしべ〜道なき道〜</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="src/css/main.css"/>
		<link rel="stylesheet" media="screen and (max-width:990px)" href="src/css/main_smart.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<link rel="shortcut icon" href="res/img/icon.ico" />
	</head>
	<body>
		<div id="app">
			<div id="header">
				<div id="icon-div">
					<a href="index.html"> <img id="icon" src="res/img/icon.png"> </a>
				</div>
				<div id="title-div">
					<h1>わらしべ〜道なき道〜</h1>
				</div>
				<div id="help-div">
					<a href="src/html/help.html"> <img id="icon" src="res/img/help.png"> </a>
				</div>
			</div>
			<div id="main">
				<div id="img-content"　v-if="windowWidth >= 990">
					<img src="res/img/senndenn.png">
				</div>
				<div id="img-content" v-if="windowWidth < 990">
					<img src="res/img/game_start.png">
				</div>
				<div id="button-div">
					<div class="button-content">
						<button class="button" v-on:click="new_game" :disabled="Disabled1">
							はじめから
						</button>
					</div>
					<div class="button-content">
						<button class="button" v-on:click="load_game" :disabled="Disabled2">
							つづきから
						</button>
					</div>
				</div>
			</div>
		</div>
		<script src="src/js/memory.js"></script>
	</body>
</html>
