@charset "utf-8";

#header {
	height: 150px;
	margin-bottom: 0px;
}

#header #icon-div {
	width: 15%;
}

#header #icon-div #icon {
	margin: auto 0px auto 30px;
}

#header #title-div {
	margin: 0px 0px 0px 30px;
	width: 70%;
}

#header #title-div h1 {
	font-size: 50px;
	margin: auto;
}

#header #help-div {
	width: 15%;
}

#main #img-content {
	padding: 0px;
}

#main #img-content img {
	width: 100%;
}

#main #help-wrapper {
	width: 100%;
	margin: 50px 0px 100px 0px;
}

#main #help-content {
	width: 90%;
	margin: 0px auto;
}

#main #help-content h1 {
	font-size: 30px;
	margin: 30px 0px 10px 0px;
}
#main #help-content h2 {
	margin: 20px 0px 10px 10px;
	font-size: 24px;
}
#main #help-content p {
	padding-left: 2em;
	font-size: 18px;
}

#button-div {
	width: 100%;
	height: 150px;
	margin-top: -55vh;
}

.button-content {
	width: 50%;
	height: 100%;
	text-align: center;
	background-color: #00000000;
}

.button {
	width: 90%;
	font-size: 40px;
	padding: 0px;
	margin: 10px;
}
